@import '../../Variables.scss';

.pagination-container {
    position: relative;
    height: 50px;
    .pagination {
        position: absolute;
        right: 0;
        ul {
            display: flex;
            li {
                width: 50px;
                a {
                    button {
                        min-width: auto;
                        font-size: 12px;
                    }
                }
            }
            .number {
                margin: 0 -1px;
                a {
                    button {
                        border-radius: 0;
                    }
                }
                &.first {
                    margin-left: 10px;
                    a {
                        button {
                            border-top-left-radius: 50% !important;
                            border-bottom-left-radius: 50% !important;
                        }
                    }
                }
                &.last {
                    margin-right: 10px;
                    a {
                        button {
                            border-top-right-radius: 50% !important;
                            border-bottom-right-radius: 50% !important;
                        }
                    }
                }
                &:hover {
                    z-index: 4;
                }
            }
            .active {
                z-index: 3;
                a {
                    button {
                        background-color: $primary;
                        color: $text-dark;
                    }
                }
            }
        }
    }
}