@import '../../Variables.scss';


.articles-container {
    display: flex;
    justify-content: space-between;
    @media (max-width: $md-articles) {
        display: block;
        .articles {
            margin-right: 0;
            max-width: unset;
        }
        .upcoming-games {
            float: unset;
            max-width: unset;
            margin-top: 20px;
        }
    }
}

.upcoming-games {
    float: right;
    display: block;
    max-width: 310px;
    width: 100%;
    border: 3px solid $bg-light;
    border-radius: 20px;
    box-sizing: border-box;
    height: 100%;
    header {
        color: $primary;
        height: 56px;
        padding: 20px;
        box-sizing: border-box;
        text-align: center;
        h1 {
            border-bottom: 3px solid #2f2f2f;
            padding-bottom: 15px;
        }
    }
    .upcoming-games-content {
        padding: 20px;
        color: $text-lighter;
        > div {
            margin-bottom: 10px;
            line-height: 1.5;
            >  h1 {
                font-family: 'Montserrat-SemiBold', sans-serif;
                color: $primary;
                min-width: 23px;
                padding-right: 15px;
                text-align: center;
                border-right: 2px solid $primary;
                margin-right: 10px;
            }
            img {
                width: 50%;
            }
            .title {
                font-size: 15px;
            }
            .date {
                color: $text-light;
                font-size: 12px;
            }
        }

    }
}