@import '../../Variables.scss';

.main-header {
    position: fixed;
    width: 100%;
    padding: 40px 70px;
    box-sizing: border-box;
    display: block;
    height: 140px;
    line-height: 3;
    font-family: 'Montserrat-Medium', sans-serif;
    z-index: 3;
    .\35 18bef71-fc97-40d2-81bb-08cdb57a23d1,
    .a51d9288-caea-4a14-a111-9aefa9843ecd2 {
        opacity: 1;
        @include transition(0.2s ease-in-out);
    }
    &.active {
        top: 0;
        height: 70px;
        padding: 20px 70px;
        background-color: rgba(0,0,0,0.2);
        backdrop-filter: blur(3px);
        .\35 18bef71-fc97-40d2-81bb-08cdb57a23d1,
        .a51d9288-caea-4a14-a111-9aefa9843ecd2 {
            opacity: 0;
        }
        nav {
            line-height: 2;
            @media (max-width: $xl) { 
                position: absolute;
                right: 0;
            }
        }
        .logo {
            top:-5px;
            max-width: 250px;
            a {
                width: 50px;
                height: 50px;
                display: block;
                overflow: hidden;
            }
            @media (max-width: $xl) { 
                margin: 0;
            }
        }
        @media (max-width: $xl) { 
            flex-direction: row;
        }
    }
    .logo {
        position: relative;
        top: -15px;
        max-width: 350px;
        width: 100%;
        display: inline-block;
        @include transition(0.2s ease-in-out);
        svg {
            height: 100%;
            vertical-align: middle;
        }
    }
    nav {
        position: relative;
        float: right;
        font-size: 16px;
        line-height: 4;
        z-index: 1;
        @include transition(0.2s ease-in-out);
        ul {
            margin: 0;
            list-style-type: none;
            li {
                position: relative;
                display: inline-block;
                width: auto;
                height: 100%;
                text-align: center;
                margin-left: 10px;
                color: $text-light;
                transition: 0.3s;
                line-height: 1.5;
                width: 115px;
                cursor: pointer;
                border-top-left-radius: 17px;
                border-top-right-radius: 17px;
                a {
                    color: $text-light;
                    text-decoration: none;
                    &:before {
                        content: '';
                        height: 1px;
                        width: 100%;
                        background-color: white;
                    }
                }
                > span {
                    position: relative;
                    z-index: 1;
                }
                .dropdown {
                    &:before {
                        content: '';
                        position: absolute;
                        height: 70px;
                        top: -40px;
                        width: 115px;
                        right: -25px;
                        transform: translateX(-50%);
                        border-top-left-radius: 20px;
                        border-top-right-radius: 20px;
                        background-color: #222222;
                    }
                    font-size: 13px;
                    top: 80px;
                    opacity: 0;
                    pointer-events: none;
                    text-align: left;
                    background-color: #222222;
                    position: absolute;
                    width: auto;
                    right: -30px;
                    padding: 20px;
                    box-sizing: border-box;
                    border-radius: 20px;
                    box-shadow: 0 3px 6px #00000070;
                    @include transition(0.2s);
                    ul {
                        text-align: left;
                        li {
                            box-sizing: border-box;
                            position: relative;
                            text-align: left;
                            width: 100%;
                            margin-left: 0;
                            cursor: pointer !important;
                            overflow: hidden;
                            border-radius: unset;
                            padding-right: 15px;
                            @include transition(0.2s);
                            &:before {
                                content: '';
                                background: $primary;
                                height: 10px;
                                width: 10px;
                                position: absolute;
                                top: 4px;
                                left: -15px;
                                transform: rotate(45deg);
                                @include transition(0.2s ease-in-out);
                            }
                            &:not(.see-all) {
                                &:hover {
                                    width: calc(100% - 20px);
                                    padding-left: 15px;
                                    padding-right: 0;
                                    &:before {
                                        left: -5px;
                                    }
                                }
                            }
                            &.see-all {
                                a {
                                    color: $text-dark;
                                    text-decoration: none;
                                }
                                &:hover {
                                    a {
                                        color: $blue;
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }
                    }
                    > div {
                        div {
                            h1 {
                                color: $primary;
                            }
                            padding: 10px;
                        } 
                    }
                }
                &:hover {
                    .dropdown {
                        top: 30px;
                        opacity: 1;
                        pointer-events: unset;
                    }
                    > a {
                        z-index: 1;
                        position: relative;
                        color: $primary;
                    }
                }
            }
        }
    }
    .search {
        position: relative;
        height: 100%;
        float: right;
        line-height: 5;
        > div {
            position: relative;
            display: inline;
            &::before {
                content: url(../../img/search.svg);
                position: absolute;
                top: 70%;
                left: 25px;
                transform: translateY(-50%);
            }
        }
        input {
            font-size: 16px;
            height: 40px;
            width: 85px;
            padding: 1px 25px 1px 55px;
            background-color: transparent;
            border: 2px solid $text-dark;
            border-radius: 25px;
            font-family: 'Montserrat-Medium', sans-serif;
            color: $text-lightest;
            @include transition(0.2s);
            &:hover,
            &:focus {
                width: 300px;
                border-radius: 30px;
                border-color: $primary;
                color: $primary;
            }
            &::placeholder {
                letter-spacing: 3px;
            }
        }
    }
    @media (max-width: $xl) {
        display: flex;
        flex-direction: column;
        height: auto;
        text-align: center;
        padding: 20px;
        .logo {
            margin: 20px auto;
        }
    }
    @media (max-width: $md) {
        display: block;
        .search {
            display: block;
            float: unset;
        }
        .logo {
            margin-left: 0;
        }
        .mobile-menu {
            position: relative;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            border: 2px solid #484c50;
            margin-left: 30px;
            vertical-align: text-top;
            transform: rotate(90deg);
            @media (max-width: $sm) {
                margin-left: 0;
                margin: 0 auto;
            }
            .menu-bars {
                width: 2px;
                background-color: #484c50;
                height: 25px;
                display: block;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                position: absolute;
                &:before,
                &:after {
                    content: '';
                    width: 2px;
                    background-color: #484c50;
                    height: 25px;
                    display: block;
                    top: 50%;
                    left: 50%;
                    transform: translateX(-50%) translateY(-50%);
                    position: absolute;
                }
                &:before {
                    margin-left: 9px;
                }
                &:after {
                    margin-left: -9px;
                }
            }
        }
    }
    @media (max-width: $md) {
        nav {
            width: 100%;
        }
    }
    @media (max-width: $sm) {
        .search {
            display: none;
        }
    }
}
// .main-header.active + #CONTENT {
//     margin-top: 100px;
// }