@import '../../Variables.scss';

.dashboard-container {
    margin-bottom: 50px;
    min-height: 500px;
    a {
        text-decoration: none;
        display: inline-block;
        color: #ccc;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
    .container-title {
        font-size: 25px;
        color: #ccc;
        margin: 15px 0;
    }
}