@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url(./fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: 'Montserrat-Light', sans-serif;
    src: url(./fonts/Montserrat-Light.ttf);
}

@font-face {
    font-family: 'Montserrat-ExtraLightItalic', sans-serif;
    src: url(./fonts/Montserrat-ExtraLightItalic.ttf);
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url(./fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url(./fonts/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url(./fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: 'Montserrat-ExtraBold';
    src: url(./fonts/Montserrat-ExtraBold.ttf);
}

@font-face {
    font-family: 'Montserrat-Black';
    src: url(./fonts/Montserrat-Black.ttf);
}

$primary: #a09703;
$primary-light: #bfb72d;
$secondary: #901a90;
$bg: #011627;
$bg-dark: #011525;
$bg-darker: #48185b;
$gray-dark: #131313;
$bg-light: #2f2f2f;
$bg-lighter: #7b7b7b;
$text-dark: #5D5D5D;
$text-light: #929292;
$text-lighter: #D6D6D6;
$text-lightest: #DFDFDF;
$blue: #5d6190;

$shadow: 0 3px 3px #00000052;

$xl: 1600px;
$lg: 1366px;
$lg-articles: 1180px;
$lg-grid: 1174px;
$md: 720px;
$md-articles: 980px;
$md-grid: 779px;
$sm: 480px;
$xs: 320px;

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin shadow ($shadow) {
    -moz-box-shadow:    $shadow;
    -webkit-box-shadow: $shadow;
    box-shadow:         $shadow;
}

@keyframes point-down {
    0% {
        bottom: 7px;
    }
    15% {
        bottom: 12px;
    }
    20% {
        bottom: 7px;
    }
    25% {
        bottom: 12px;
    }
    30% {
        bottom: 7px;
    }
}

@-webkit-keyframes shimmer {
    0% {
        background-position: -100% 0;
    }
    100% {
        background-position: 100% 0;
    }
}

@keyframes shimmer {
    0% {
        background-position: -1200px 0;
    }
    100% {
        background-position: 1200px 0;
    }
}

@keyframes spin { 100% { transform: rotate(360deg); } }